@* /// <summary>
/// Renderiza la estructura base del documento HTML para la aplicación Blazor.
/// Define las metaetiquetas principales, importa las hojas de estilo globales (CSS), 
/// establece el enrutador central de vistas y carga los scripts necesarios para 
/// la interactividad del sistema y las descargas de archivos.
/// </summary>
*@
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["DragonNutrex.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />

    <script src="@Assets["_framework/blazor.web.js"]"></script>

    <script src="js/download.js"></script>
</body>

</html>