@* 
    <summary>
    Componente de Layout Vacío (EmptyLayout)
    </summary>
    <remarks>
    Define un layout minimalista que actúa como contenedor vacío exclusivamente para la página de Login.
    Este componente hereda de LayoutComponentBase y proporciona una estructura HTML simple sin elementos adicionales
    de navegación, barra lateral u otros componentes visuales, permitiendo una experiencia de inicio de sesión 
    limpia y enfocada.
    </remarks>
*@
@inherits LayoutComponentBase

@* Este layout es solo un contenedor vacío para el Login *@
<div class="empty-layout">
    @Body
</div>